@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/EshopView/assets/css/login.css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <div class="container" id="container">

        <div class="form-container sign-in-container">
            <form action="#">
                <h1>Đăng nhập</h1>
                <input style="margin-top: 40px; margin-bottom: 10px ;" type="email" placeholder="UserName" />
                <input type="password" placeholder="Password" />
                <button style="margin-top: 40px;">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1 h1>Hello, Friend!</h1>
                    <p>Chào mừng đến với Eshop BookStore</p>
                    <button class="ghost" id="signUp">Đăng Ký</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/EshopView/assets/js/login.js"></script>

</body>
</html>